#HeroMain {
  background-image: url("../../public/slider_bg.jpg");
}

#pageBG {
  background-color: #0f161b;
}

#flexCOL {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1050px) {
  #flexCOL {
    flex-direction: column;
  }
}
