#HeroMain {
  background-image: url("../../public/slider_bg.jpg");
}
#videoBack {
  background-image: url("../../public/videoBack.jpg");
}
#gamersBack {
  background-image: url("../../public/team_bg.jpg");
}
#roadmapBack {
  background-image: url("../../public/roadmap.jpg");
}

#pageBG {
  background-color: #0f161b;
}

#flexCOL {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1050px) {
  #flexCOL {
    flex-direction: column;
  }
}

.networkCustom {
  margin-right: 12px;
  margin-left: 150px;
}

.notifiCustom {
  margin-left: 140px;
  margin-right: -105px;
}

.faviconCustom {
  margin-left: 320px;
}

@media only screen and (max-width: 1403px) {
  .networkCustom {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 1205px) {
  .networkCustom {
    display: none;
  }
  .notifiCustom {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .navHeadCustom {
    padding-top: 27px;
  }
}

@media only screen and (max-width: 400px) {
  .faviconCustom {
    margin-left: 240px;
  }
}

.custom-shape-divider-bottom-1681979696 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1681979696 svg {
  position: relative;
  display: block;
  width: calc(133% + 1.3px);
  height: 500px;
}

.custom-shape-divider-bottom-1681979696 .shape-fill {
  fill: #0c0f14;
}

.custom-shape-divider-bottom-1681980015 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1681980015 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 42px;
}

.custom-shape-divider-bottom-1681980015 .shape-fill {
  fill: #10181f;
}

.custom-shape-divider-bottom-1681981240 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1681981240 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 90px;
}

.custom-shape-divider-bottom-1681981240 .shape-fill {
  fill: #0f161b;
}
.custom-shape-divider-top-1681981826 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1681981826 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 76px;
}

.custom-shape-divider-top-1681981826 .shape-fill {
  fill: #10181f;
}
